:root {
    /* Colours */
    --main-background-colour: #1a1a1a;
    --secondary-background-color: #2c2c2c;
    --primary-accent-colour: #f44336;
    --secondary-accent-colour: #ff9800;
    --tertiary-accent-colour: #ffeb3b;
    --subdued-accent-colour: #9c27b0;
    --neon-accent-colour: #00bcd4;
    --interactive-colour: #4caf50;
    --heading-colour: #dadada;
    --text-colour: #bdbdbd;
    
    /* Typography */
    --text-xxl: clamp(38px, 4.5vw, 46px);
    --text-xl: clamp(30px, 3.2vw, 36px);
    --text-lg: 20px;
    --text-md: 18px;
    --text-sm: 16px;
    --text-xs: 14px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?j5hr8g');
    src:  url('fonts/icomoon.eot?j5hr8g#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?j5hr8g') format('truetype'),
      url('fonts/icomoon.woff?j5hr8g') format('woff'),
      url('fonts/icomoon.svg?j5hr8g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
@font-face {
    font-family: 'Rubik Light';
    src: url(/assets/fonts/text/Rubik-VariableFont_wght.eot) format('embedded-opentype'),
        url(/assets/fonts/text/Rubik-VariableFont_wght.ttf) format('truetype'),
        url(/assets/fonts/text/Rubik-VariableFont_wght.woff) format('woff'),
        url(/assets/fonts/text/Rubik-VariableFont_wght.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

  .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }