@import url(/assets/css/variables.css);

/* Icon Fonts */
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icon/icomoon.eot");
  src: url("/assets/fonts/icon/icomoon.eot") format("embedded-opentype"),
    url("/assets/fonts/icon/icomoon.ttf") format("truetype"),
    url("/assets/fonts/icon/icomoon.woff") format("woff"),
    url("/assets/fonts/icon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--main-background-colour);
  color: var(--text-colour);
  font-family: var(--body-font);
  font-weight: 400;
}

/* Typography Styles */
.title-xxl,
.title-xl,
.title-lg {
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
}

.title-xxl {
  font-size: var(--heading-xxl);
}

.title-xl {
  font-size: var(--heading-xl);
}

.title-lg {
  font-size: var(--heading-lg);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

/* Icon Styles */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sm {
  font-size: 20px;
}

.icon-md {
  font-size: 30px;
}

.icon-ph_envelope:before {
  content: "\e900";
}
.icon-ph_facebook-logo:before {
  content: "\e901";
}
.icon-ph_house:before {
  content: "\e902";
}
.icon-ph_image:before {
  content: "\e903";
}
.icon-ph_instagram-logo:before {
  content: "\e904";
}
.icon-ph_music-notes:before {
  content: "\e905";
}
.icon-ph_pen:before {
  content: "\e906";
}
.icon-ph_soundcloud-logo:before {
  content: "\e907";
}
.icon-ph_spotify-logo:before {
  content: "\e908";
}

/* Button Styles */
.button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #bdbdbd;
  font-size: 18px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: solid 1px #F44336;
  border-radius: 2em;
  box-shadow: 0 6px 0 0 #B53228, 0 8px 0 0 #000;
  position: relative;
  z-index: 1;
  transition: color ease .3s;
}

.button:hover {
  color: white;
}

.button:active {
  box-shadow: 0 3px 0 0 #B53228, 0 6px 0 0 #000;
  transform: translateY(2px);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 2em;
  background-color: #F44336;
  height: 100%;
  width: 100%;
  transition: transform ease-out .3s;
  z-index: -1;
  transform: scaleX(0);
}

.button:hover::before {
  left: 0;
  transform: scaleX(1);
}

