@import url(/assets/css/variables.css);

.sidebar {
    background-color: var(--secondary-background-colour);
    width: clamp(280px, 85%, 400px);
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    padding: 1.875em 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -400px;
    z-index: 2;
    transition: left ease .6s;
}

.sidebar-logo {
    padding: 0 1.875em;
}

.sidebar-nav-title,
.sidebar-social-title {
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar-nav-title {
    margin: 0 1.875em 0.625em 1.875em;
}

.sidebar-nav-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar-nav-link {
    color: var(--text-colour);
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 1.875em;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    z-index: 1;
    transition: 
    background-color ease .3s,
    gap ease .3s,
    color ease .3s,
    border ease .3s;
}

.sidebar-nav-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: width ease .5s;
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
}

.sidebar-nav-link:nth-child(1)::before {
    background-color: var(--primary-accent-colour);
}

.sidebar-nav-link:nth-child(2)::before {
    background-color: var(--secondary-accent-colour);
}

.sidebar-nav-link:nth-child(3)::before {
    background-color: var(--tertiary-accent-colour);
}

.sidebar-nav-link:nth-child(4)::before {
    background-color: var(--neon-accent-colour);
}

.sidebar-nav-link:nth-child(5)::before {
    background-color: var(--interactive-colour);
}

.sidebar-nav-link:hover::before {
    width: 400px;
}

.sidebar-nav-link:hover {
    color: black;
}

.sidebar-nav-link:active {
    background-color: var(--primary-accent-colour);
    color: var(--white);
}

.sidebar-social-title {
    margin: 0 30px 0.625em 30px;
}

.sidebar-social-links {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar-social-icon {
    color: var(--text-colour);
    text-decoration: none;
    padding: .4em 30px;
    transition: background-color ease .3s;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    z-index: 1;
}

.sidebar-social-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: width ease .5s;
}

.sidebar-social-icon:hover {
    color: var(--white);
}

.sidebar-social-icon:nth-child(1):hover::before {
    background-color: var(--neon-accent-colour);
    width: 100%;
}

.sidebar-social-icon:nth-child(2):hover::before {
    background-color: var(--subdued-accent-colour);
    width: 100%;
}

.sidebar-social-icon:nth-child(3):hover::before {
    background-color: var(--secondary-accent-colour);
    width: 100%;
}

.sidebar-social-icon:nth-child(4):hover::before {
    background-color: var(--interactive-colour);
    width: 100%;
}

.toggle-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    gap: 5px;
    color: var(--text-colour);
    padding-left: 30px;
  }
  
  .music-off #music-text {
    display: inline;
  }

.copyright {
    text-transform: capitalize;
    padding-left: 30px;
}

.show {
    left: 0;
}